<div class="container">
  <h1>会員情報</h1>
  <div class="my-page d-flex justify-content-center">
    <div class="col-sm-10 mx-auto">
     <table class="table bg-white">
        <tbody>
          <tr>
            <th>姓</th>
            <td><%= @customer.family_name %></td>
            <th>名</th>
            <td><%= @customer.personal_name %></td>
          </tr>
          <tr>
            <th>セイ</th>
            <td><%= @customer.family_name_kana %></td>
            <th>メイ</th>
            <td><%= @customer.personal_name_kana %></td>
          </tr>
          <% if current_customer == @customer %>
            <tr>
              <th>メールアドレス</th>
              <td colspan="3"><%= @customer.email %></td>
            </tr>
          <% end %>
          <tr>
            <th>ステータス</th>
            <td colspan="3"><%= @customer.status %></td>
          </tr>
        </tbody>
      </table>

  <% if @editable %>
    <%= link_to '編集する', edit_customer_path(@customer), class: "btn btn-sm btn-primary mr-2" %>
  <% end %>

  <div class="recipes-section">
    <h2>投稿したレシピ一覧:</h2>
    <ul class="list-group">
      <% @recipes.each do |recipe| %>
        <li class="list-group-item">
          <% if recipe.photo.attached? %>
            <%= image_tag recipe.photo.variant(resize: "200x200"), class: "img-fluid" %>
          <% else %>
            <%= image_tag "no_image.jpeg", class: "img-fluid" %>
          <% end %>
          <h5>料理名: <%= link_to recipe.dish_name, recipe_path(recipe) %></h5>
          <p><%= recipe.dish_name %>のレシピ説明: <br>
          <%= recipe.recipe_description %></p>
        </li>
      <% end %>
    </ul>
  </div>

<!--  <div class="comments-section">-->
<!--    <h2>コメント:</h2>-->
<!--    <ul>-->
<!--      <%# @comments.each do |comment| %>-->
<!--        <li><%#= comment.comment %></li>-->
<!--      <%# end %>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<% if current_customer == @customer %> 
  <%= link_to "退会手続きはこちら", unsubscribe_path(@customer), method: :get, class: "btn btn-sm btn-danger" %>
<% end %>