<div class="my-page">
  <h1>マイページ</h1>
  <p>氏名</p>
  <p>姓: <%= @customer.family_name %></p>
  <p>名: <%= @customer.personal_name %></p>
  <p>セイ: <%= @customer.family_name_kana %></p>
  <p>メイ: <%= @customer.personal_name_kana %></p>
  <p>メールアドレス: <%= @customer.email %></p>
  <p>ステータス: <%= @customer.status %></p>

  <%= link_to '編集する', edit_customer_path %>

  <div class="recipes-section">
    <h2>あなたが投稿したレシピ一覧:</h2>
    <ul>
      <% @recipes.each do |recipe| %>
      <% if recipe.photo.attached? %>
          <%= image_tag recipe.photo.variant(resize: "300x300"), class: "img-fluid" %>
        <% else %>
          <%= image_tag "default_recipe_image.jpg", class: "img-fluid" %>
        <% end %>
      <h5><%= link_to recipe.dish_name, recipe_path(recipe) %></h5>
        <li><%= recipe.dish_name %>: <%= recipe.recipe_description %></li>
      <% end %>
    </ul>
  </div>

  <div class="comments-section">
    <h2>Comments:</h2>
    <ul>
      <% @comments.each do |comment| %>
        <li><%= comment.comment %></li>
      <% end %>
    </ul>
  </div>
</div>
