<%= form_with(model: @recipe, local: true, class: "recipe-form") do |form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  投稿者<br>
  <div class="mb-3">
  <%= current_customer.family_name %>
  </div>
  <div class="form-group">
    <%= form.label :料理画像 %>
    <%= form.file_field :photo, class: "form-control-file" %>
  </div>
 
  <div class="form-group row">
  <div class="col-md-6">
    <%= form.label :料理名 %>
    <%= form.text_field :dish_name, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :レシピ説明 %>
    <%= form.text_area :recipe_description, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= form.label :tag_list, 'タグ' %>
  <%= select_tag :tag_list, options_for_select(ActsAsTaggableOn::Tag.all { |tag| [tag.name, tag.name] }), include_blank: true, class: 'form-control' %>
</div>

  <h3>材料一覧</h3>
  <div id="ingredients">
    <%= form.fields_for :ingredients do |ingredient_form| %>
      <%= render 'ingredient_fields', f: ingredient_form %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '追加', form, :ingredients, class: 'btn btn-primary' %>
    </div>
  </div>

  <%= form.fields_for :steps do |step_form| %>
    <%= render 'step_fields', f: step_form %>
  <% end %>
  <div class="links">
    <%= link_to_add_association '追加', form, :steps, class: 'btn btn-primary' %>
  </div>

  <div class="actions">
    <%= form.submit '投稿する', class: 'btn btn-primary' %>
  </div>
<% end %>
