<h1>レシピの編集</h1>

<%= form_with(model: @recipe, url: recipe_path(@recipe), method: :patch) do |form| %>
  <div class="form-group">
    <%= form.label :投稿者 %>
    <%= form.number_field :customer_id, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="form-group">
    <%= form.label :料理名 %>
    <%= form.text_field :dish_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :レシピ説明 %>
    <%= form.text_area :recipe_description, class: "form-control" %>
  </div>

  <h3>Ingredients</h3>
  <div id="ingredients">
    <%= form.fields_for :ingredients do |ingredient_form| %>
      <%= render 'ingredient_fields', f: ingredient_form %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '追加', form, :ingredients, class: 'btn btn-primary' %>
    </div>
  </div>
  
  <%= form.fields_for :steps do |step_form| %>
    <%= render 'step_fields', f: step_form %>
  <% end %>
  <div class="links">
    <%= link_to_add_association '追加', form, :steps, class: 'btn btn-primary' %>
  </div>

  <%= form.submit "更新", class: "btn btn-primary" %>
<% end %>

<%= link_to "一覧に戻る", recipes_path %>