<h1>投稿レシピ一覧</h1>

<%= render 'public/searches/search' %>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.dish_name, recipe_path(recipe) %>

    　<p>レシピについて: <%= recipe.recipe_description %></p>
    </li>
   <% if recipe.photo.attached? %>
      <%= image_tag recipe.photo.variant(resize: "100x100") %>
   <% end %>

  <% recipe.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>

   <p>コメント件数: <%= recipe.comments.count %></p>


   <%= link_to "編集", edit_recipe_path(recipe) %>
   <td><%= button_to '削除', recipe, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
  <% end %>
</ul>

