<head>
  <style>
    .table {
      max-width: 50%;
    }
  
  .form-control.resize-vertical {
    resize: vertical;
    height: 100px;
    max-width: 60%;
 </style>
</head>
<div class="d-flex justify-content-center">
<table class="table table-bordered bg-white">
  <tbody>
    <% if @customer %>
      <tr>
        <th>投稿者</th>
        <td><%= @customer.family_name %></td>
      </tr>
    <% end %>

    <tr>
      <th>レシピ名</th>
      <td><%= @recipe.dish_name %></td>
    </tr>
    <tr>
      <th>レシピの説明</th>
      <td><%= @recipe.recipe_description %></td>
    </tr>
    <tr>
      <th>画像</th>
      <td>
        <% if @recipe.photo.attached? %>
          <%= image_tag @recipe.photo.variant(resize: "300x300"), class: "img-fluid" %>
        <% else %>
          <%= image_tag "no_image.jpg", class: "img-fluid" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>タグ</th>
      <td><%= @recipe.tag_list %></td>
    </tr>
    <tr>
      <th>材料</th>
      <td>
        <ul class="ingredients-list">
          <% @recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.ingredient_name %> - <%= ingredient.quantity %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <th>手順</th>
      <td>
        <ol class="steps-list">
          <% @recipe.steps.each do |step| %>
            <li><%= step.instruction %></li>
          <% end %>
        </ol>
      </td>
    </tr>
    <tr>
     <th>お気に入り</th>
      <td id="favorite_btn_<%= @recipe.id %>">
      <%= render 'public/favorites/favorite', recipe: @recipe %>
      </td>
    </tr>
    <tr>
      <th>レシピ一覧へのリンク</th>
      <td><%= link_to 'レシピ一覧', recipes_path %></td>
    </tr>
    <tr>
      <th>コメント一覧へのリンク</th>
      <td><%= link_to "コメント一覧", recipe_comments_path(@recipe) %></td>
    </tr>
    <tr>
      <th></th>
      <td><% if current_customer == @recipe.customer %>
    <%= link_to "編集", edit_recipe_path(@recipe), class: "btn btn-sm btn-primary mr-2" %>
    <%= button_to '削除', @recipe, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
  <% end %>
  </td>
    </tr>
  </tbody>
</table>
</div>


<!--部分テンプレート化-->
<!--コメントフォーム-->
<div class="new-comment">
  <%= render 'public/comments/form', recipe: @recipe %>
</div>
<!--コメント一覧部分-->
<!--divタグのclassをid="comments_area"に変更-->
<div id="comments_area"> 
  <%= render 'public/comments/recipe_comments', recipe: @recipe %>
</div>
:
