<div class="recipe-details">
  <h1><%= @recipe.dish_name %></h1>
  <p><%= @recipe.recipe_description %></p>

   <% if @recipe.photo.attached? %>
      <%= image_tag @recipe.photo.variant(resize: "300x300"), class: "img-fluid" %>
    <% else %>
      <%= image_tag "no_image.jpeg", class: "img-fluid" %>
    <% end %>

  <div class="tags">
    <%= @recipe.tag_list %>
  </div>

  <h2>材料</h2>
  <ul class="ingredients-list">
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.ingredient_name %> - <%= ingredient.quantity %></li>
    <% end %>
  </ul>

  <h2>手順</h2>
  <ol class="steps-list">
    <% @recipe.steps.each do |step| %>
      <li><%= step.instruction %></li>
    <% end %>
  </ol>

  <% if @recipe.favorited_by?(current_customer) %>
    <%= link_to recipe_favorites_path(@recipe), method: :delete, class: "btn btn-danger" do %>
      <i class="fas fa-heart"></i> お気に入り解除 (<%= @recipe.favorites.count %>)
    <% end %>
  <% else %>
    <%= link_to recipe_favorites_path(@recipe), method: :post, class: "btn btn-primary" do %>
      <i class="far fa-heart"></i> お気に入り登録 (<%= @recipe.favorites.count %>)
    <% end %>
  <% end %>

 <div class="row">
    <div class="col-md-6">
      <%= link_to 'レシピ一覧', recipes_path %>
       <div class="col-md-6">
        <%= link_to "コメント一覧", recipe_comments_path(@recipe) %>
      </div>
    </div>
  </div>
  <% if current_customer == @recipe.customer %>
  <%= link_to "編集", edit_recipe_path(@recipe), class: "btn btn-sm btn-primary mr-2" %>
  <%= button_to '削除', @recipe, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
  <% end %>
  <div class="comments-section">
    <h3>コメント</h3>

    <%= form_with(model: [@recipe, Comment.new]) do |form| %>
      <%= form.text_area :comment, class: "form-control" %>
      <%= form.submit "コメントする", class: "btn btn-primary" %>
    <% end %>

    <% @recipe.comments.each do |comment| %>
      <div class="comment">
        <p><%= comment.customer.email %>: <%= comment.comment %></p>
        <% if comment.customer == current_customer %>
          <%= link_to "編集", edit_recipe_comment_path(@recipe, comment) %>
          <%= link_to "削除", recipe_comment_path(@recipe, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>