
<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class="text-container bg-light p-3 rounded"> <!-- Bootstrapのクラスを追加 -->
        <h1><i class="fas fa-book"></i><strong>ようこそズボラ飯へ</strong>  !!</h1>
        <p>お忙しい皆様へ！シンプルな食材で驚くほど美味しい料理を作りましょう。</p>
        <p>ズボラ飯なら、手軽においしい食事を楽しめます！</p>
        <p>食材の無駄を減らし、手軽においしい食事を楽しめるレシピをご用意しました。</p>
        <p>ズボラでも満足できる簡単料理をお楽しみください！</p>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <% unless customer_signed_in? %>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <div class="col">
            <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3", method: :post %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= link_to "Log in", new_customer_session_path, class: "btn btn-primary btn-sm btn-block mb-3" %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= link_to "Sign up", new_customer_registration_path, class: "btn btn-success btn-sm btn-block mb-3" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "レシピ一覧", recipes_path %>
           
