<h1><%= @customer.family_name %>編集</h1>
<%= form_with(model: @customer, url: admin_customer_path(@customer), method: :patch) do |form| %>

 <div class="nested-fields row align-items-center">
  <div class="col-md-9">
    <div class="form-group row">
      <div class="col-md-6">
        <%= form.label :姓 %>
        <%= form.text_field :family_name, class: "form-control short-field" %>
      </div>
      <div class="col-md-6">
        <%= form.label :名 %>
        <%= form.text_field :personal_name, class: "form-control short-field" %>
      </div>
    </div>
  
    <div class="form-group row">
      <div class="col-md-6">
        <%= form.label :セイ %>
        <%= form.text_field :family_name_kana, class: "form-control short-field" %>
      </div>
      <div class="col-md-6">
        <%= form.label :メイ %>
        <%= form.text_field :personal_name_kana, class: "form-control short-field" %>
      </div>
    </div>
  
    <div class="form-group">
      <%= form.label :メールアドレス %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

  <div class="form-group">
    <%= form.label :ステータス %>
    <%= form.select :status, Customer.statuses.keys.map { |s| [s, s] }, include_blank: true, class: 'form-control' %>
  </div>
 </div>
</div>
  <%= form.submit "更新", class: "btn btn-primary" %>
<% end %>