<h1><%= @customer.family_name %>編集</h1>
<%= form_with(model: @customer, url: admin_customer_path(@customer), method: :patch) do |form| %>

 <div class="form-group">
    <%= form.label :姓 %>
    <%= form.text_field :family_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :名 %>
    <%= form.text_field :personal_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :セイ %>
    <%= form.text_field :family_name_kana, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :メイ %>
    <%= form.text_field :personal_name_kana, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :メールアドレス %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ステータス %>
    <%= form.text_field :status, class: "form-control" %>
  </div>

  <%= form.submit "更新", class: "btn btn-primary" %>
<% end %>