<div class="my-page">
  <h1>マイページ</h1>
  <p>氏名</p>
  <p>姓: <%= @customer.family_name %></p>
  <p>名: <%= @customer.personal_name %></p>
  <p>セイ: <%= @customer.family_name_kana %></p>
  <p>メイ: <%= @customer.personal_name_kana %></p>
  <p>メールアドレス: <%= @customer.email %></p>
  <p>ステータス: <%= @customer.status %></p>

  <%= link_to '編集する', edit_admin_customer_path(@customer) %>




<h1><%= @customer.family_name %> のレシピ一覧</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><%= recipe.dish_name %>: <%= recipe.recipe_description %></li>
    <%= link_to "コメント一覧", admin_recipe_comments_path(recipe) %>
    <%= link_to "レシピ詳細", admin_recipe_path(recipe) %>
  <% end %>
</ul>