
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<div class="container">-->
    <div class="container d-flex justify-content-between">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <!-- customer -->
            <% if customer_signed_in? %>
  　         <li class="nav-item">
                <%= link_to new_recipe_path, class: 'nav-link text-light' do %>
            <i class="fas fa-link"></i> 新規投稿
             <% end %>
            <li class="nav-item">
                <%= link_to recipes_path, class: 'nav-link text-light' do %>
            <i class="fas fa-link"></i> レシピ一覧
             <% end %>
            <li class="nav-item">
                <%= link_to customers_path, class: 'nav-link text-light' do %>
            <i class="fas fa-link"></i> ユーザー一覧
             <% end %>
             <li class="nav-item">
                <%= link_to customer_path(current_customer), class: 'nav-link text-light' do %>
            <i class="fas fa-link"></i> マイページ
             <% end %>

            <li class="nav-item">
              <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>

          <!-- admin -->
          <% elsif admin_signed_in? %>



            <!-- sign out -->
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to home_about_path ,class: 'nav-link text-light' do %>
                <i class="fas fa-link"></i> About
              <% end %>
            </li>
            <!--新規登録 -->
            <li class="nav-item">
              <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
                <i class="fas fa-user-plus"></i> 会員登録
              <% end %>
            </li>
            <!-- ログイン -->
            <li class="nav-item">
              <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </li>
            
            
            
           

        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
